
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Env
.env

# Node
node_modules/

# Playwright
playwright-report/
test-results/

# Cucumber
reports/

# Reportes generados (subir SOLO PDFs)
evidencias_pipeline/cucumber-reports/
evidencias_pipeline/playwright-report/
